
header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    height:60px;
}

h1 {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('ng.png');
}
/* Styling for back button */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 90px;
}

/* Form styling */
form {
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Button styling */
.enable-button,
.disable-button {
    padding: 15px 40px; /* Adjust padding for desired button size */
    border: none;
    border-radius: 30px; /* Adjust border-radius for rounded corners */
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 150px; /* Set a fixed width for the buttons */
    display: block;
    margin: 0 auto; /* Center the buttons horizontally */
    text-align: center;
}
.enable-button:hover,
.disable-button:hover {
    background-color: #444;
}
/* Form styling */
.styled-form {
    margin: 110px auto; /* Adjust margin to lower or raise the form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}



/* Button styling */
.enable-button,
.disable-button {
    position: relative;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    width: 150px;
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.enable-button::before,
.disable-button::before,
.enable-button::after,
.disable-button::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    transition: all 1s;
}

.enable-button::before,
.disable-button::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.enable-button::after,
.disable-button::after {
    top: 0;
    left: 0;
    transform: scale(0);
}

.enable-button:hover::before,
.enable-button:hover::after,
.disable-button:hover::before,
.disable-button:hover::after {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    transform: scale(2);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

